<section id="canvas-wrapper" class="flex items-center justify-center w-full h-full" phx-hook="canvas">
  <canvas id="canvas" class="border border-black"></canvas>
  <canvas id="following-canvas" class="border border-red-500 absolute"></canvas>
</section>
